@model DataBin.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1 class="py-3">@Model.Title</h1>
<p>@Model.Stars stars by anonymous @Model.TimePassedCreation @if (Model.LastUpdatedAt != null)
    {
        <text>updated: </text> @Model.TimePassedUpdated
    }</p>
<div>
    <hr />
    <pre><code>@Model.Content</code></pre>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    <hr />
    <form asp-controller="Comments" asp-action="Create">
        <div class="form-group">
            <textarea rows="8" cols="100"
            @* asp-for="Post.Content" *@ 
                class="form-control"></textarea>
            <span 
                @* asp-validation-for="Post.Content" *@ 
                class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-primary my-3" />
        </div>
    </form>
</div>
