@using Microsoft.AspNetCore.Http.Extensions;
@model DataBin.ViewModels.PostCommentSection

@{
    ViewData["Title"] = "Details";
}

@if (TempData["feedback"] != null)
{
    <div>@Html.Raw(TempData["feedback"])</div>
}
else
{
    <h1 class="py-3">@Model.Post.Title</h1>
}
@if(Model.Post.Stars != null)
{
<p>@Model.Post.Stars.Count stars by anonymous @Model.Post.TimePassedCreation @if (Model.Post.LastUpdatedAt != null)
    {
        <text>updated: </text> @Model.Post.TimePassedUpdated
    }
</p>
}
else
{
<p>
    0 stars by anonymous @Model.Post.TimePassedCreation @if (Model.Post.LastUpdatedAt != null)
    {
        <text>updated: </text> @Model.Post.TimePassedUpdated
    }
</p>
}
<div>
    <hr />
    <pre><code>@Model.Post.Content</code></pre>
<div>
    @if (Model.Post.Poster == User.Identity.Name)
    {
        <text>
            <a asp-action="Edit" asp-route-id="@Model?.Post.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model?.Post.Id">Delete</a> |
        </text>
    }
        @if (User.Identity.Name != null)
        {
            @if (!Model.Stars.Any(s => s.User == User.Identity.Name))
            {
                <form asp-controller="Stars" asp-action="Create">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Star.PostId" value="@Model.Post.Id" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Star.User" value="@User.Identity.Name" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Star.Post" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="follow" class="btn btn-primary my-3" />
                    </div>
                </form>
            }else
            {
            <form asp-controller="Stars" asp-action="Delete">
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Star.PostId" value="@Model.Post.Id" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Star.User" value="@User.Identity.Name" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Star.Post" />
                </div>
                <div class="form-group">
                    <input type="submit" value="unfollow" class="btn btn-primary my-3" />
                </div>
            </form>
            }
        }
        <a asp-action="Index">Back to List</a>

</div>
    <hr />
    <form asp-controller="Comments" asp-action="Create" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Comment.PostId" value="@Model.Post.Id" />
        </div>
        <div class="form-group">
            <textarea rows="8" cols="100" asp-for="Comment.Content" class="form-control"></textarea>
            <span asp-validation-for="Comment.Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Comment.CreatedAt" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Comment.Post" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Comment.PostId" value="@Model.Post.Id"/>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Comment.Poster" value="@User.Identity.Name"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-primary my-3" />
        </div>
    </form>
        @foreach(var item in @Model.CommentSection)
        {
        <div class="py-4">
            <p>
                @item.Poster @item.TimePassedCreation @if (@item.LastUpdatedAt != null)
                {
                    <text>updated: </text> @item.TimePassedUpdated
                }
            </p>
            <p>@item.Content</p>
            @if(item.Poster == User.Identity.Name)
            {
                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id">edit</a><text> |</text>
                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id">delete</a>
            }
        </div>
        }
</div>
