@model DataBin.ViewModels.ListingPosts

@{
    ViewData["Title"] = "Posts";
}

<div class="container my-3">
    <form asp-controller="Posts" asp-action="Index" method="get">
        <div class="row ">
            <div class="col">
                <input type="text" class="form-control" asp-for="SearchString" placeholder="Search">
            </div>
            <div class="col">
                <select asp-for="PostTopic" asp-items="Model.Topics" class="form-select">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">All Posts</h6>
    @foreach (var item in Model.Posts)
    {
        <div class="d-flex text-body-secondary border-bottom">
            <p class="small lh-sm">
                <strong class="d-block">
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                </strong>
                by anonymous @item.TimePassedCreation
                @if (item.LastUpdatedAt != null)
                {
                    <text>last updated + @item.TimePassedUpdated</text>
                }
                <br>
                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@item.Id">edit</a> |
                <a asp-controller="Posts" asp-action="Delete" asp-route-id="@item.Id">delete</a>
            </p>
        </div>
    }
</div>